@use 'variables' as *;

.article--profile {
    background: $color-profile;
}

.section--profile-name,
.section--profile-note,
.section--profile-timeline {
    font-size: 1.6rem;
    line-height: 2.8rem;
    background: $color-white;
    border-radius: 20px;
    padding: 32px;
}

.heading--profile-name,
.heading--profile-note,
.heading--profile-timeline {
    font-size: 1.9rem;
    line-height: 1.9rem;
    margin: 0;
    padding-bottom: 24px;
}

/* プロフィール > 名前 */

.section--profile-name {
    display: flex;
    align-items: center;
}

.heading--profile-name {
    display: none;
}

.profile-name {
    position: relative;
    margin-left: -8px;
}

.profile-name__heading {
    position: relative;
    width: 280px; //直径
    height: 280px; //直径
    font-size: 16px;
    text-align: center;
    margin: 0;
    transform: rotate(-90deg); //円の回転
    font-weight: 800;
    span {
        position: absolute;
        top: 0;
        left: calc(50% - 16px); //中心点:文字サイズ分をずらす
        display: inline-block;
        width: 18px; //文字サイズより大きくする
        height: calc((280px + 16px) / 2); //画像の半径
        transform-origin: center bottom; //回転の基準点
    }

    @for $i from 1 through 11 {
        span:nth-child(#{$i}) {
            transform: rotate(#{$i * 8}deg);
        }
    }
}

.profile-name__image {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    shape-outside: circle();
    padding: 16px;
    position: absolute;
    top: 16px;
    left: 16px;
}

.profile-name__content {
    padding-left: 32px;
}

/* プロフィール > タイムライン */

.section--profile-timeline {
    overflow-x: hidden;
    white-space: nowrap;
}

.timeline-layout--mobile {
    white-space: normal;
}

.timelines {
    min-height: 300px;
    font-size: 0;
    margin-left: -32px;
    padding: 150px 0;
    transition: all 1s;
}

.timeline {
    background: #ccc;
    color: $color-black;
    display: inline-block;
    height: 3px;
    list-style-type: none;
    margin-left: 16px;
    position: relative;
    width: calc(420px / 2);
    word-break: auto-phrase;

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: -12px;
        width: 2px;
        height: 16px;
        background-color: #ccc;
        transform: translateY(-50%) rotate(50deg);
    }

    &:after {
        background: $color-sub;
        border-radius: 50%;
        bottom: 0;
        content: '';
        height: 12px;
        left: calc(100% + 2px);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 12px;
    }

    &--first {
        margin-left: 0;
        width: (32px + 8px);

        &::before {
            content: none;
        }
    }

    &--last {
        margin-right: 0;
        width: 380px;

        &:after {
            background: #ccc;
            border-radius: 0;
            content: '';
            height: 3px;
            left: 0;
            top: 0;
            transform: translateY(0);
            width: 400px;
        }
    }
}

.timeline-layout--desktop {
    .timeline:nth-child(odd) {
        &::before {
            right: 0;
            top: 15px;
            width: 2px;
            height: 16px;
            transform: translateY(-50%) rotate(-50deg);
        }

        .timeline__card {
            top: -16px;
            transform: translateY(-100%);

            &:before {
                border-color: #ccc transparent transparent transparent;
                border-width: 12px 12px 0 0;
                top: 100%;
            }
        }
    }

    .timeline:nth-child(even) {
        .timeline__card {
            top: calc(100% + 16px);

            &:before {
                border-color: transparent transparent transparent #ccc;
                border-width: 12px 0 0 12px;
                top: -12px;
            }
        }
    }
}

.timeline__subcolor {
    color: $color-sub;
    font-weight: 600;
}

.timeline__card {
    opacity: 1;
    border: 3px solid #ccc;
    border-radius: 16px;
    font-size: 1.5rem;
    left: calc(100% - 8px);
    padding: 8px 16px 16px;
    position: absolute;
    white-space: normal;
    width: 380px;
    animation: opacity 1s linear 1;
    overflow: hidden;

    @keyframes opacity {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}

.timeline__content {
    position: relative;
    z-index: 1;
}

.timeline__time {
    color: #ccc;
    font-size: 6rem;
    line-height: 6rem;
    font-weight: bold;
    display: block;
    position: absolute;
    bottom: -6px;
    right: -6px;
    z-index: 0;
}

.timeline-arrows {
    display: flex;
    justify-content: center;
    padding-top: 24px;

    .icon-arrow {
        color: $color-sub;
        height: 45px;
        width: 45px;
    }

    .disabled {
        opacity: 0.5;
    }
}

.arrow__prev {
    margin-right: 20px;
}

.timeline-layout--mobile {
    .timelines {
        margin-left: 0;
        padding: 0;
        transform: none !important;
        width: auto;
    }

    .timeline {
        background: transparent;
        display: block;
        height: auto;
        margin: 0;
        width: auto;

        &--last,
        &:nth-last-child(2) div:before,
        &:after {
            display: none;
        }
    }

    .timeline__card {
        height: auto !important;
        left: auto;
        margin: 0 auto 24px;
        position: relative;
        width: 100%;
    }

    .timeline {
        &::before {
            top: -12px;
            left: 50%;
            right: 0;
            transform: translateY(-50%) rotate(0);
        }

        .timeline__card {
            transform: none;

            &:before {
                border: none;
                border-left: 3px solid #ccc;
                height: 24px;
                left: 50%;
                top: 100%;
                transform: translateX(-50%);
            }
        }
    }

    .timeline-arrows {
        display: none;
    }
}

/* プロフィール > 業務 */
.profile-menu {
    list-style: square;
    margin: 0 0 0 1.8rem;
    padding: 0;
}

/* プロフィール > スキル */
.profile-skill {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.profile-skill + .profile-skill {
    padding-top: 16px;
}

.profile-skill__dt {
    font-size: 1.3rem;
    line-height: 1.6rem;
    width: 100%;

    &:after {
        content: '-';
        padding: 0 8px;
    }

    &:first-child {
        padding-top: 0;
    }
}

.profile-skill__dd {
    font-size: 1.6rem;
    line-height: 2.8rem;

    &:after {
        content: '/';
        font-size: 1.6rem;
        padding: 0 8px;
    }

    &:last-child {
        &:after {
            content: none;
        }
    }
}

.profile-skill__etc {
    line-height: 2.8rem;
    bottom: 28px;
    position: absolute;
    right: 32px;
    text-align: right;
}

@media (max-width: $media-tablet) {
    .section--profile-name {
        flex-direction: column;
    }
    .profile-name__content {
        padding-top: 16px;
        padding-left: 0;
    }

    .profile-skill__etc {
        bottom: 0;
        position: relative;
        right: 0;
    }
}

@media (max-width: $media-sp) {
    .heading--profile-name {
        display: block;
        padding-bottom: 16px;
    }

    .profile-name__heading {
        display: none;
    }

    .profile-name__image {
        position: relative;
        top: 0;
        left: 0;
    }
}
